.section {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    & {
      padding-top: 94px;
      padding-bottom: 94px;
    }
  }
}

.row {
  display: block;

  @media screen and (min-width: 768px) {
    & {
      display: flex;
      flex-wrap: wrap;
      margin: calc(0px - (#{$project-item-gap} / 2));
    }
  }
  @media screen and (min-width: 1200px) {
    & {
      flex-wrap: nowrap;
    }
  }
}

.section__title {
  color: $h-text-color;
  font-weight: bold;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;

  @media scaderreen and (min-width: 1200px) {
    & {
      font-size: 36px;
      line-height: 1.17;
    }
  }
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
