.site-header {
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  padding-top: 24px;
  padding-bottom: 25px;
  align-items: center;
}
