.contacts {
  display: flex;

  @media screen and (max-width: 767px) {
    & {
      display: none;
    }
  }

  @media screen and (max-width: 1199px) {
    & {
      flex-direction: column;
      justify-content: center;
    }
  }
}
.contacts__item {
  margin-left: 50px;

  &:first-child {
    margin-left: 0;
  }
  @media screen and (min-width: 767px) and (max-width: 1199px) {
    & {
      margin-left: 0;
      margin-bottom: 10px;
    }
  }
}
.contacts__link {
  display: flex;
  align-items: center;
  color: $main-text-color;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  @include transition(color);

  &:hover,
  &:focus {
    color: $accent-text-color;
  }
}
.contacts__icon {
  margin-right: 10px;
  fill: currentColor;

  .contacts__link:hover &,
  .contacts__link:focus & {
    color: $accent-text-color;
    fill: $accent-text-color;
    stroke: $accent-text-color;
  }
}
