.advantages__item {
  @media screen and (max-width: 767px) {
    &:not(last-child) {
      margin-bottom: 30px;
    }
  }
  @media screen and (min-width: 768px) {
    & {
      flex-basis: calc((100% - 2 * #{$project-item-gap}) / 2);
      margin: calc(#{$project-item-gap} / 2);
    }
  }
  @media screen and (min-width: 1200px) {
    & {
      margin-left: 30px;
    }
    &:first-child {
      margin-left: 0;
    }
  }
}

.advantages__box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}
.advantages__title {
  color: $h-text-color;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;

  @media screen and (max-width: 767px) {
    & {
      text-align: center;
    }
  }
}
.advantages__text {
  color: $main-text-color;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.05em;
}
